:root {
    
  --color_1: #464646;
  --color_2: #808080;
  --color_3: #fbfbfb;
  --btn_blue:#2A7AE4;
  --background_1: #E5E5E5;
  --background_2: #FFFFFF;
  --background_form: #EAF2FD;
  --gradient_bottom:  linear-gradient(to bottom, #7035c1, #6930c8, #602bcf, #5526d6, #4622de, #2f46ec, #145ff7, #0076ff, #00a0ff, #00c3ff, #00e1ff, #5ffbf1);
  --gradient_left:  linear-gradient(to left, #7035c1, #6930c8, #602bcf, #5526d6, #4622de, #2f46ec, #145ff7, #0076ff, #00a0ff, #00c3ff, #00e1ff, #5ffbf1);
  
  --shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.2);
  --Poppins: 'Poppins', sans-serif;
  --Rubik: 'Rubik', sans-serif;
}
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  margin: .5rem;
}
  body {
      background: var(--background_2);
      font-family: var(--Poppins);
  }

  .material-symbols-outlined{
      font-size: 1.5rem;
      color:var(--color_1)
  }
  .white{
      color:var(--color_3)
  }
.container {
  display: flex;
  background-color:var(--background_2);
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: .6rem;
  justify-content: center;
  align-items: center;
}
.container p{
  display:inline-flex;
  justify-content: center;
  align-items: center;
}
.center{ justify-content: center;
  align-items: center;}
.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.product__header{display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:1rem 0;
}
.products__title{
  font-size: 22px;
  font-weight: 700;
  color: var(--color_1);

}
.card {
  width: 170px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 1rem;
}

.card__img {
  justify-content: center;
  margin: 0 auto;
  padding: .6rem 0;
  align-items: center;
  height: 176px;
  position: relative;
}

.icon__container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 1rem;
  right: 1rem;
}
.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


  padding-bottom: 4px;

}

.card__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card__data >* {
  margin: .6rem 0 0;
}

.card__data p {
  margin: .6rem
}

.blue_anchor {
  align-self: center;
  color: var(--btn_blue);
  font-weight: 700;
  font-size:14px;
}

.card__title{
  font-size:1.4rem;
  padding-bottom: .6rem;
}

.logo {
  height: 60px;
  margin: .5rem auto;
}



.footer{display: flex;
  flex-direction: column;
  background-color:var(--background_form) ;
  padding:1rem 0;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.banner{
display:flex;
flex-direction: column;
background-image: url(./assets/banner-image.png);
height: 192px;
background-size:cover;
background-repeat: no-repeat;
background-position:left;
justify-content: flex-end;
align-items: flex-start;

}


.banner p {
  font-size: 22px;
  font-weight: 700;
  margin:2rem 0 .5rem;
 /*  line-height: 26px; */
 /*  letter-spacing: 0em; */
 /*  text-align: left; */
  color:#FFF;
  
}
.banner p:last-of-type{
font-size: 14px;
font-weight: 600;
margin:0 ;;
/* line-height: 16px; */
/* letter-spacing: 0em; */
/* text-align: left; */}


.banner__title h1{
  font-size: 1.3rem;
  color:var(--color_3);
  text-shadow: 2px 2px 4px var(--color_2);
}

.banner__title h4{
  font-size: .8rem;
  color:var(--color_3);
  text-shadow: 2px 2px 4px var(--color_2);
}
.banner a{
  text-decoration:none;
  color:unset;
} 



.

.inputa{
  box-sizing: border-box;
  border:none;
  border-radius: 6px;
  border-bottom: 1px solid var(--color_2);
  padding: 1.4rem 0.5rem 0.5rem;
  height: 3rem;
  width: 100%;
  outline: none;
  margin-bottom: 1rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);

}.error-message{
  color: red;
  font-size:0.8rem;
  font-weight: 700;

}
.input__label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size:1rem;
  transition: ease-in-out .25s;
} .input::placeholder {
  visibility: hidden;

}

.input:focus {
  outline: none;
}
.input:not(:placeholder-shown)+.input__label,
.input:focus+.input__label {
  color:var(--color_2);
  font-size: 0.875rem;
  top: 0.25rem;
  transition:ease-in-out 0.25s;
}

.search   {box-sizing: border-box;
border:none;
border-radius: 6px;
border-bottom: 1px solid var(--color_2);
padding: 1.4rem 0.5rem 0.5rem;
height: 2rem;
width: 100%;
outline: none;
box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);

}

.search__label{
  position: absolute;
  top: .8rem;
  left: 0.5rem;
  font-size:.8rem;
  transition: ease-in-out .25s;
} .search::placeholder {
  visibility: hidden;}


.search:focus {
  outline: none;
}
.search:not(:placeholder-shown)+.search__label,
.search:focus+.search__label {
  color:var(--color_2);
  font-size: 0.875rem;
  top: 0.25rem;
  transition:ease-in-out 0.25s;}

.textarea {
  box-sizing: border-box;
  border: 1px solid var(--color_1);
  padding: 0.5rem;
  border-radius: 6px;
  width: 100%;
  min-height: 3rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.textarea__container {
  position: relative;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-bottom:2rem;
  font-weight:400;
}

.textarea__label {
  position: absolute;
  top: 3.6rem;
  left: 0.5rem;
  font-size: 1rem;
  transition: ease-in-out 0.25s;
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  visibility: hidden;
}

.textarea:not(:placeholder-shown)+.textarea__label,
.textarea:focus+.textarea__label {
  color:var(--color_2);
  font-size: 0.875rem;
  top: 0;
  transition:  ease-in-out 0.25s;
}



.header__back{  background-color: var(--background_2);
 
}
.header__main{ background-image:var(--gradient_left);

  padding-bottom: 4px;

}

.login__modal {
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 320px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10%;
  backdrop-filter: blur(5px);
 
}

.login__content-back{ position: relative;
  background-image:var(--gradient_left);
  margin: 25% auto;
  border:none;
  border-radius: 10px;;
  padding: 2px; 
}
.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color: var(--background_1);
padding:2rem;
border-radius: 10px;  box-shadow: var(--shadow); 

}

.login__label{
  font-size: .8rem;
  top: 1.8rem;
}
.close {
 align-self: flex-end;
 justify-self: flex-start;
  

}

.close:hover,
.close:focus {
  color: black;

  cursor: pointer;
  transform: scale(1.2);
  transition: .3s ease all;
}
.modal {
  /* Resto del código... */

  -webkit-backdrop-filter: blur(5px);
}


.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ff3d00 -100%, #0400ff 200% );
  transform: translate3d(0px, 0px, 0) scale(1.05);
  filter: blur(0px);
  opacity: 0.88;
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.module-border-wrap {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}




.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #ff3d00 -100%, #0400ff 200% );
    transform: translate3d(0px, 0px, 0) scale(1.05);
    filter: blur(0px);
    opacity: 0.88;
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
@media screen and (min-width: 768px){
 
}