.banner{
    background-image: url(../../banner-image.png);
	background-size: cover;
	background-repeat: no-repeat;
    padding: 2rem 1rem;
}


.banner__title {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.banner__title h1{
    font-size: 1.3rem;
    color:var(--color_3);
    text-shadow: 2px 2px 4px var(--color_2);
}

.banner__title h4{
    font-size: .8rem;
    color:var(--color_3);
    text-shadow: 2px 2px 4px var(--color_2);
}



