.contact__container {
    display: flex;
    flex-direction: column;
    height: 550px;
    background-color: var(--color_4);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__logo {
    height: 60px;

}




@media screen and (min-width: 768px) {
    .contact__container {
        flex-direction: row;
        height: 320px;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    .contact__info {
        align-items: flex-start;
    }

    .contact__logo {
        height: 80px;

    }
}