.footer {
    background-color: var(--color_3);
    width: 100%;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
hr{
    background: transparent;
    margin: inherit;
    padding: inherit;
    border: 1px solid var(--color_5);
    box-shadow: var(--shadow);
}
.footer p {display: flex;
    margin:inherit ;
   justify-content: center;
   align-items: center;
   font-size: .8rem;
    color:var(--color_5);
    padding-top:1.5rem;
}

.footer-symbols{
    font-size: .8rem;
    color:var(--color_5)
}
@media screen and (min-width: 768px) {
}